/* body {
  padding: 10px;
  font-family: sans-serif;
} */

html,
body {
    font-family: 'Sarabun' !important;
    font-size: 16px !important;
}

input {
    font-family: 'Sarabun' !important;
    font-size: 18px !important;
}

button {
    font-family: 'Sarabun' !important;
    font-size: 18px !important;
}

.no-shadows {
    box-shadow: none !important;
}