<template name="login">
    <br><br><br>
    <center>
        <h5><u>เข้าสู่ระบบ</u></h5>

    </center>

    <br>
    <div class="container">
        <div class="card-panel z-depth-1 ">
            <div class="container">

                <div class="row">
                    <div class="col l2"></div>
                    <div class="input-field col s12 l8" style="font-size:20px">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">ชื่อผู้ใช้</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col l2"></div>
                    <div class="input-field col s12 l8 ">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="icon_telephone" type="password" class="validate">
                        <label for="icon_telephone">รหัสผ่าน</label>
                    </div>
                </div>
                <center>

                    <button class="btn waves-effect waves-light " type="submit" name="action">เข้าสู่ระบบ
                        <i class="material-icons right">done_all</i>
                    </button>
                    <p style="font-size: 14px">หากยังไม่เคยใช้งาน  <a href="register">กดที่นี่</a> หรือลืมรหัสผ่าน <a href="#!">กดที่นี่</a></p>
                </center>
            </div>

        </div>
    </div>

</template>