<template name="register">
    <!-- <nav>
        <div class="nav-wrapper cyan darken-3">
            <ul class="left">
                <li><a href="login"><i class="material-icons">keyboard_arrow_left</i></a></li>
            </ul>

        </div>
    </nav>
    <nav class="light-blue darken-1 " role="navigation">
        <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo">สมุดสุขภาพ ..</a>
            <ul id="slide-out" class="sidenav ">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="https://materializecss.com/images/office.jpg">
                        </div>
                        <a href="#user"><img class="circle" src="https://materializecss.com//images/yuna.jpg"></a>
                        <a href="#name"><span class="white-text name">John Doe</span></a>
                        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                <li><a href="#!">Second Link</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        </div>
    </nav>  -->
    <br><br><br>
    <center>
        <h5><u>ลงทะเบียน</u></h5>

    </center>

    <br>
    <div class="container">
        <div class="card-panel z-depth-1 ">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">account_circle</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">ชื่อ</label>
                        </div>
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">email</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">E-mail</label>
                        </div>
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">vpn_key</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">รหัสผ่าน</label>
                        </div>
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">vpn_key</i>
                            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                            <label for="icon_prefix2">รหัสผ่านอีกครั้ง</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l6">
                            <a href="login">
                                <button class="btn waves-effect waves-light yellow lighten-4 right" style="color:black" type="submit" name="action">ย้อนกลับ
                                    <i class="material-icons left">arrow_back</i>
                                </button>
                            </a>
                        </div>
                        <div class="col s12 l6">
                            <button class="btn waves-effect waves-light" type="submit" name="action"> &nbsp;&nbsp; ยืนยัน
                                <i class="material-icons right">check_circle</i> &nbsp;&nbsp;
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>